@import "./libs/reset.scss";
@import "./libs/fonts.scss";



/*============== variables setup ===================*/



:root{
    --whiteColor:    rgb(255, 255, 255);
    --nullColor:     rgb(218, 218, 218);
    --mainColor:     rgb(230, 120, 17);
    --secondColor:   rgb(136, 30, 228);
    --accentColor:   rgb(133, 226, 31);
    --lightColor:    rgb(73, 29, 136);
    --darkColor:     rgb(51, 26, 56);
    --purpleColor:   rgb(136, 30, 228);
    --gradientColor: linear-gradient(45deg ,rgba(73, 29, 136,0.5),rgba(136, 30, 228,0.5));

    
    --mainFont: 'Sora-ExtraBold';
    --secondFont: 'Hollows';
}
// var(--white-color);

@mixin flex--center { 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;  
}
// @include  flex--center;



/*============== base html ===================*/

html{
    
    background-color: var(--nullColor) ; 
    font-family: var( --mainFont);
}

body{
    width: 100%;
    height:100vh;
    // background-image: linear-gradient(0deg ,#5500A9 ,#92139E);
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/bg.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

/*============== main content ===================*/

header{
    
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.2);

    h1{ 
        padding: 2rem;
    
        text-align: center;
        font-size: 3rem;
        font-family: var( --mainFont);
        color: white;
        text-transform: uppercase;
    }
}


main{
    margin: 0 auto;
    min-width: 30rem;
    height: auto;
    text-align: center;

    h2{
        color: var(--whiteColor);
        font-size: 5rem;
        font-family: var( --secondFont);
        
        margin: 4rem 0 3rem 0;

        span{
            font-size: 3rem;
        }
    }
}


/*============== Ghost ===================*/


.containerGhost{
    @include  flex--center;
    
    width: 30rem;
    aspect-ratio: 1;
    overflow: hidden;
    
    img{
        cursor: pointer;
        mix-blend-mode: lighten;
        max-width:  50rem;
        aspect-ratio: 1;
    }
}
/*============== Events  Ghost ===================*/


.containerGhost img:active{
    max-width:  45rem;
    aspect-ratio: 1;
}

/*============== Bonus buttons ===================*/

.menuBonus{
    position: relative;
    max-width: 80%;
    height: auto;

    @include  flex--center;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-end;
    flex-wrap: wrap;
    

    
    padding: 2rem 2rem 0 2rem;
    background-color: rgba(0,0,0,0.1);
    
    border-radius: 1rem;

    p{
        position: absolute;
        top: -2rem;
        left: 2rem;

        color: var( --whiteColor);
        font-family: var( --mainFont);
        font-size: 3rem;
    }

    .btn{

        width:  10rem;
        aspect-ratio: 1;

        cursor: pointer;
        margin: 1rem;
        padding: 1rem 0 1rem 0;
        // border: 1px solid var(--darkColor);
        border-radius: 0.5rem;
        border: none;
        text-align:center;
        text-decoration: none;
        font-size: 2rem;
        font-family: var( --mainFont);
        text-transform: uppercase;
        color: var(--whiteColor);
        
        background: var(--gradientColor);
        
        .logoBtn{
            @include  flex--center;

            margin-bottom: 1rem;
            width:  6rem;
            aspect-ratio: 1;
            
        }
    }
}


/*============== Events  Bonus buttons ===================*/

.btn:hover {
    background-color:  var(--mainColor); 
}




/*============== Responsive  Média querry  ===================*/

$breakpoint-desktop: 1024px;
$breakpoint-tablet:  768px;



@media (min-width: $breakpoint-tablet) {
   
    

    header{
        h1{
            font-size: 5rem;
        }
    }
    main{
        h2{
            font-size: 6rem;
        }
    }
    .containerGhost{
        max-width:75%;
        img{
            max-width:  70rem;
            aspect-ratio: 1;
        }
    }
    .menuBonus{
        max-width: 100%;
      
        .btn{
            width:  15rem;
            aspect-ratio: 1;

            .logoBtn{
                width:  6rem;
                aspect-ratio: 1;
            }
        }
    }
}


@media (min-width: $breakpoint-desktop) {

    header{
        h1{
            font-size: 4rem;
        }
    }
    main{
        @include  flex--center;
	    align-items: flex-start;

        
        h2{
            width: 15rem;
            margin: 4rem 0 0 3rem;
            font-size: 6rem;
        }
    }
    .containerGhost{
        // max-width:100%;
        cursor: pointer;
        mix-blend-mode: lighten;
        transform: translateY(50%);
        img{
            max-width:  70rem;
            aspect-ratio: 1;
        }
    }
    .menuBonus{
        max-width: 100%;
        margin: 0 2rem 0 0;
        transform: translateY(7rem);

        flex-direction: column;
        
        p{
            left: 3rem;
        }
        .btn{
            width:  10rem;
            aspect-ratio: 1;

            .logoBtn{
                width:  6rem;
                aspect-ratio: 1;
            }
        }
    }
}