@charset "UTF-8";
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* now 1.5rem = 15px */
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: 'Hollows';
  src: url("../fonts/Hollows.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Variable';
  src: url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Bold';
  src: url("../fonts/static/Sora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-ExtraBold';
  src: url("../fonts/static/Sora-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-ExtraLight';
  src: url("../fonts/static/Sora-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Light';
  src: url("../fonts/static/Sora-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Medium';
  src: url("../fonts/static/Sora-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Regular';
  src: url("../fonts/static/Sora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-SemiBold';
  src: url("../fonts/static/Sora-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Sora-Thin';
  src: url("../fonts/static/Sora-Thin.ttf") format("truetype");
}

/*============== variables setup ===================*/
:root {
  --whiteColor:    rgb(255, 255, 255);
  --nullColor:     rgb(218, 218, 218);
  --mainColor:     rgb(230, 120, 17);
  --secondColor:   rgb(136, 30, 228);
  --accentColor:   rgb(133, 226, 31);
  --lightColor:    rgb(73, 29, 136);
  --darkColor:     rgb(51, 26, 56);
  --purpleColor:   rgb(136, 30, 228);
  --gradientColor: linear-gradient(45deg ,rgba(73, 29, 136,0.5),rgba(136, 30, 228,0.5));
  --mainFont: 'Sora-ExtraBold';
  --secondFont: 'Hollows';
}

/*============== base html ===================*/
html {
  background-color: var(--nullColor);
  font-family: var(--mainFont);
}

body {
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*============== main content ===================*/
.btnAudio {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.containerLogo {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  padding: 0 1rem 0 2rem;
}

.containerLogo img {
  width: 40rem;
  height: auto;
}

main {
  margin: 0 auto;
  min-width: 30rem;
  text-align: center;
}

main h2 {
  color: var(--whiteColor);
  font-size: 5rem;
  font-family: var(--secondFont);
  padding: 4rem 0 3rem 0;
}

main h2 span {
  font-size: 6rem;
}

/*============== Ghost ===================*/
.containerGhost {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30rem;
  aspect-ratio: 1;
  overflow: hidden;
}

.containerGhost img {
  cursor: pointer;
  mix-blend-mode: lighten;
  max-width: 70rem;
  aspect-ratio: 1;
}

/*============== Events  Ghost ===================*/
.containerGhost img:active {
  width: 45rem;
  aspect-ratio: 1;
}

/*============== Bonus buttons ===================*/
.menuBonus {
  position: relative;
  max-width: 80rem;
  height: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.menuBonus p {
  position: absolute;
  top: -2rem;
  left: 2rem;
  color: var(--whiteColor);
  font-family: var(--mainFont);
  font-size: 3rem;
}

.menuBonus .btn {
  width: 12rem;
  aspect-ratio: 1;
  cursor: pointer;
  margin: 2rem;
  padding: 1rem 0 1rem 0;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--mainFont);
  text-transform: uppercase;
  color: var(--whiteColor);
  background: var(--gradientColor);
}

.menuBonus .btn .logoBtn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  width: 6rem;
  aspect-ratio: 1;
}

/*============== Events  Bonus buttons ===================*/
.btn:hover {
  background-color: var(--mainColor);
}

/*============== Responsive  Média querry  ===================*/
/*============== Version tablet  ===================*/
@media (min-width: 768px) {
  .btnAudio {
    top: 5rem;
    right: 5rem;
    width: 8rem;
    aspect-ratio: 1;
  }
  .containerLogo {
    width: 100%;
    height: 20rem;
    padding: 0 1rem 0 2rem;
  }
  .containerLogo img {
    width: 40rem;
    height: auto;
  }
  .containerGhost {
    max-width: 75rem;
  }
  .containerGhost img {
    max-width: 100rem;
    aspect-ratio: 1;
  }
  .menuBonus {
    max-width: 100%;
  }
}

/*============== Version Desktop  ===================*/
@media (min-width: 1024px) {
  .btnAudio {
    top: 5rem;
    right: 10rem;
    width: 12rem;
    aspect-ratio: 1;
  }
  header {
    width: 100%;
    padding: 0 1rem 0 2rem;
    text-align: center;
  }
  header .containerLogo {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 35rem;
    overflow: hidden;
  }
  header .containerLogo img {
    width: 60rem;
    height: auto;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main h2 {
    font-size: 6rem;
    width: 40rem;
  }
  .containerGhost {
    cursor: pointer;
    mix-blend-mode: lighten;
    width: 70rem;
    aspect-ratio: 1;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  .containerGhost img {
    max-width: 500rem;
    aspect-ratio: 1;
  }
  .menuBonus {
    width: 20rem;
    margin: 6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuBonus p {
    left: 4rem;
  }
  .menuBonus .btn {
    width: 10rem;
    aspect-ratio: 1;
  }
}
